
body {
  font-family: Arial, sans-serif;
  background: #bcb5b5;
  padding: 0px;
  margin: 0px;
}
header {
  background: #333;
  color: white;
  text-align: center;
  padding: 20px;
}
.flex {
display: flex;
}
.sidebar {
  width: 100px;
  background: #9d9c9c;
  padding: 20px;
  border-right: 2px solid #101010;
}
.sidebar ul {
  list-style-type: none;
  padding-left: 0;
}
.sidebar li {
  margin-bottom: 10px;
}
.sidebar a {
  text-decoration: none;
  color: #000;
}
.etelat{
    flex: 1;
  padding: 20px;
}
.box {
  border: 2px solid #333;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 10px;
  background: #fff;
}

.box img {
  width: 100%;
  height: 150px;
  object-fit: fill;
  border: 2px solid #333;
  margin-bottom: 10px;
  border-radius: 10px;
}
table {
  width: 100%;
  margin-top: 10px;
  border-collapse: collapse;
}
th, td {
  border: 1px solid #333;
  padding: 8px;
  text-align: center;
}
th {
  background: #555;
  color: #fff;
}

td {
  background: #ededed;
}
